h1.nav{
	font-size: 500px;
}
.nav{
	color: white;
	background-color: #333;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	padding-top: 15px;
	padding-bottom: 17px;
}
.sidenav{
	height: 100%;
	width: 250px;
	position: fixed;
	left: 0;
	overflow-x: hidden;
	padding-top: 200px;
	border-right: 1px solid #333;
	

}
.sidenav button{
	border: none;
	background-color: green;
	color: white;
	height: 50px;
	width: 200px;
	margin-left: 25px;
	margin-top: 40px;
	cursor: pointer;
}

.content{
	padding-top: 150px;
	padding-bottom: 40px;
}
#newBook, #modify{
	margin-left: 400px;
	padding-top: 120px;
}
#newBook input, #modify input{
	border: none;
	border-bottom: 1px solid #333;
	width: 25%;
	height: 50px;

}
#newBook label, #modify label{
	width: 15%;

}
#newBook button, #modify button{
	padding: 20px 70px;
	border: none;
	color: white;
	background-color: green;
	margin-top: 50px;

}
img{
	height: 400px;
	width: 500px;
	opacity: 1;
}
.content button{
	padding: 20px 70px;
	border: none;
	color: white;
	background-color: green;
	margin-left: 250px;
}
button:hover, #newBook button:hover{
	background-color: #111;
}
div.notes{
	margin-top: 20px;
	
	width: 500px;
	background-color: ;
}

p{
	margin-left: 40%;
	font-size: 1.3em;
}
h4{
	font-weight: bold;
}
.content img{
	margin-left: 300px;
}
.text{
	text-align: center;
}
footer{
	background-color: #333;
	text-align: center;
	margin-bottom:0;
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
	
}
footer a{
	text-decoration: none;
	color: white;

}
#newBook, #modify{
	display: none;
}