.seaweed{
	font-family: "Seaweed Script";
}
.satisfy{
	font-family: "Satisfy";
}
.permanentMarker{
	font-family: "Permanent Marker";
}
.pacifico{
	font-family: "Pacifico";
}
.knewave{
	font-family: "Knewave";
}
.fascinate{
	font-family: "Fascinate";
}
.barrio{
	font-family: "Barrio";
}
.cevicheOne{
	font-family: "Ceviche One";
}
.lobster{
	font-family: "Lobster";
}
.satisfy{
	font-family: "Satisfy";
}
.amaticSC{
	font-family: "Amatic SC"
}
.josefinSans{
	font-family: "Josefin Sans"
}
.fugazSans{
	font-family: "Fugaz Sans"
}