.nav{
	text-align: center;
	background-color: #333;
	color: white;
}
.navBtn button{
	padding: 20px 40px;
	width: 19.5%;
	border: none;
	background-color: #333;
	color: white;
	cursor: pointer;
}
.logout {
	background-color: #333;
	color: white;
	padding: 7px 12px;
	margin-left: 1200px; 
	border-radius: 5%;
	border: 2px solid white;
	font-weight: bold;
}
.logout:hover{
	background-color: white;
	color: #333;
}
#active {
	background-color: green;
}
#active:hover{
	opacity: 0.8;
}
button:hover{
	background-color: #666;
}

#history{
	width: 100%;
}
#history td, #history th{
	border: 1px solid #ddd;
	padding: 8px;
}
#history tr:nth-child(even){
	background-color: #f2f2f2;
}
#history th{
	background-color: black;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;

}
.content{
	margin-top: 10px;
	
}
footer{
	background-color: #333;
	text-align: center;
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
	bottom: 0;
	position: absolute;
	width: 100%;
}
footer a{
	text-decoration: none;
	color: white;

}